<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <title>Update person</title>
</head>
<body>

<div th:replace="parts/navbar :: navbar"></div>

<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${users.getId()})}" th:object="${users}">

  <label for="name" >Enter name: </label>
  <input type="text" th:field="*{username}" id="name">
  <br/>

  <label for="password" >Enter password: </label>
  <input type="password" th:field="*{password}" id="password">
  <br/>

  <label for="email" >Enter email: </label>
  <input type="text" th:field="*{email}" id="email">
  <br/>

  <input type="submit" value="Update!">

</form>

<br/>
<hr/>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout" />
</form>

</body>
</html>