<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-white">
      <span style=" font-weight: bold;" th:text="${#authentication.principal.username}"></span>
      <span>&nbsp;</span>
      <span style=" font-weight: Normal; " th:text="${'With roles: ' + #authentication.principal.rolesAsString}"></span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div th:fragment="logout" class="ml-auto">
          <a style="color: #cccccc" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
</html>